{
  "plugins": [
    "react",
    "react-hooks",
    "jsx-a11y",
    "prettier",
  ],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:testing-library/react"
  ],
  "settings": {
    "jest": {
      "version": "26.6.0"
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/display-name": "off",
    "react/jsx-curly-brace-presence": [
      "warn",
      {
        "props": "never",
        "children": "never"
      }
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/member-delimiter-style": "off",
    "no-console": "warn",
    "no-unused-vars": "off",
    "no-duplicate-imports": "warn",
    "testing-library/consistent-data-testid": [
      2,
      {
        "testIdPattern": "^({fileName}|[a-z]+)(_[a-z]+)*$"
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.test.ts", "*.test.tsx"],
      "rules": {
        "import/first": "off"
      }
    },
    {
      "files": ["*.test.tsx"],
      "rules": {
        "jest/expect-expect": "off"
      }
    }
  ]
}
