<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- Primary Meta Tags -->
	<meta name="title" content="Brian YP Liu | Senior Front-end Engineer">
	<meta name="description" content="Share my career journey of engineer and passion for front-end technologies">
	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://brianypliu.com/">
	<meta property="og:title" content="Brian YP Liu | Senior Front-end Engineer">
	<meta property="og:description" content="Share my career journey of engineer and passion for front-end technologies">
	<meta property="og:image" content="https://brianypliu.com/avatar.png">
	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://brianypliu.com/">
	<meta property="twitter:title" content="Brian YP Liu | Senior Front-end Engineer">
	<meta property="twitter:description"
		content="Share my career journey of engineer and passion for front-end technologies">
	<meta property="twitter:image" content="https://brianypliu.com/avatar.png">
	<link rel="apple-touch-icon" href="/apple-icon-180.png">
	<link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
	<link rel="manifest" href="/manifest.webmanifest" />
	<!-- woff2 actually download url, preconnect speed up woff2 download time -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<title>Brian YP Liu | Senior Front-end Engineer</title>
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>