@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  color: #282a36;
  background: #f8f8f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body header.sticky {
  background: #f8f8f2;
}

body.dark,
body.dark header.sticky {
  color: #f8f8f2;
  background: #282a36;
}

body.dark [class*='shadow'],
body.dark .flip-card-content {
  --tw-shadow: 0 10px 15px -3px #44475a, 0 4px 6px -2px #44475a;
}

:root {
  --wired-toggle-off-color: #44475a;
  --wired-toggle-on-color: #8be9fd;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .font-vt323 {
      font-family: 'VT323', monospace;
    }
  }

  .flip-card {
    height: 500px;
    perspective: 900px;
    @apply relative w-full md:w-96 inline-block text-white;
  }

  .flip-card-content {
    perspective: 900px;
    animation: entry 1s linear 1;
    box-shadow: 0px 10px 40px #777;
    transform: rotateX(45deg) scale(0.7);
    @apply top-0 absolute w-full h-full duration-500 rounded-md opacity-75 flex flex-col overflow-hidden;
  }

  .flip-card-content.flip-card-in-view {
    transform: rotate(0deg) scale(1);
  }

  .flip-card-image {
    @apply h-40;
  }

  .flip-card-image > img {
    @apply h-full w-full object-cover;
  }

  .flip-card-info {
    @apply text-center flex-1 overflow-hidden flex flex-col mt-10 mx-6;
  }

  .flip-card-title {
    text-shadow: 0px 4px 3px #44475a;
    @apply font-mono text-xl;
  }

  .flip-card-description {
    letter-spacing: 1px;
    @apply my-6 box-border overflow-y-auto;
  }
}
