@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  margin: 0;
  color: #282a36;
  background: #f8f8f2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.dark {
  color: #f8f8f2;
  background: #282a36;
}

body.dark [class*=' shadow'] {
  --tw-shadow: 0 10px 15px -3px #44475a, 0 4px 6px -2px #44475a;
}

:root {
  --wired-toggle-off-color: #44475a;
  --wired-toggle-on-color: #50fa7b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .font-vt323 {
      font-family: 'VT323', monospace;
    }
  }
}
